:root {
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);
  --font-poppins: "Poppins", sans-serif;
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);
}
body {
  font-family: var(--font-poppins);
  background-color: var(--color-off-white);
  margin: 0;
}
* {
  box-sizing: border-box;
}

main {
  width: 91%;
  margin: auto;
  background-color: white;
  margin-top: 86px;
  border-radius: 20px;
  padding-block: 45px;
  padding-inline: 24px;
  border-bottom-right-radius: 110px;

  @media screen and (min-width: 910px) {
    border-bottom-right-radius: 195px;
    width: 80%;
    max-width: 839px;
    padding-block: 50px;
    padding-inline: 54px 61px;
    margin-top: 153px;
  }
}

.contenedor_inputs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  @media screen and (min-width: 910px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 32px;
  }
}

.contenedor_input:nth-child(3) {
  margin-right: -2px;
}
label {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 3px;
  color: var(--color-smokey-grey);
  @media screen and (min-width: 910px) {
    font-size: 14px;
    font-weight: 700;
  }
}
input {
  width: 100%;
  padding-block: 12px;
  padding-inline: 13px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  border-color: var(--color-light-grey);
  border-style: solid;
  border-width: 1px;
  margin-top: 1px;
  font-family: var(--font-poppins);
  @media screen and (min-width: 910px) {
    margin-top: 7px;
    padding-block: 12px;
    padding-inline: 23px;
    font-size: 30px;
  }
}

input:hover,
input:focus {
  border-color: var(--color-purple);
  cursor: pointer;
  cursor: url("/images/cursor.cur") 16 0, pointer;
}
input:focus {
  outline-color: var(--color-purple);
}
.contenedor_boton {
  margin-top: 30px;
  display: grid;
  place-items: center;
  position: relative;
  @media screen and (min-width: 910px) {
    margin-top: 0px;
    justify-items: end;
  }
}
.contenedor_boton_linea {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-light-grey);
  z-index: 1;
}
button {
  background-color: var(--color-purple);
  padding: 19px;
  border-radius: 50%;
  border: 0;
  z-index: 2;
  cursor: pointer;
  cursor: url("/images/cursor.cur") 16 0, pointer;
  @media screen and (min-width: 910px) {
    padding: 23px;
  }
}
button:hover {
  background-color: var(--color-off-black);
}
button img {
  width: 25px;
  @media screen and (min-width: 910px) {
    width: 48px;
  }
}

.contenedor_age {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 20px;
  @media screen and (min-width: 910px) {
    margin-top: -17px;
  }
}
.contenedor_age li {
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: -24px;
  @media screen and (min-width: 468px) and (max-width: 910px) {
    text-align: center;
  }
  @media screen and (min-width: 910px) {
    font-size: 97px;
  }
}

.contenedor_age li span:nth-child(2) {
  font-size: 46px;
  @media screen and (min-width: 910px) {
    font-size: 97px;
  }
}
.contenedor_age_number {
  margin-right: 7px;
  color: var(--color-purple);
  @media screen and (min-width: 910px) {
    margin-right: 21px;
  }
}

/*
Estilos Footer
*/
footer {
  margin-top: 50px;
}
footer .attribution {
  margin: auto;
  width: fit-content;
}
footer img {
  max-width: 150px;
}
footer p {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  place-items: center;
  margin: 0 auto;
  width: fit-content;
}
/*
Estilos Errores
*/
.mensaje_error {
  display: none;
}
.mensaje_error_show {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: red;
  margin-block: 7px 0;
  font-weight: 500;
  @media screen and (min-width: 450px) {
    font-size: 13px;
  }
}

.input_error {
  border-color: red;
  color: red;
}
.input_error:hover {
  outline-color: red;
}
.input_error:focus {
  outline-color: red;
}
.label_error {
  color: red;
}
